.footer{
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #282c34;
    color: #fff;
    justify-content: center;
}

span{
    font-size: 1.5em;
    color: #61dafb;
}